/* ======================================================= */
/* ================= Header resopnsive ================== */
/* ======================================================= */


@media (max-width: 768px) {

    .desktop-view {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }

    .main-banner-mobile-background {
        width: 100%;
        height: 100vh;
        background-image: url("./assets/Group\ 17.png");
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
    }

    .mobile-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        font-family: var(--font-mono);
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
    }

    .top-nav-mobile {
        display: flex;
        align-items: stretch;
        background-color: #000;
        color: #fff;
        height: 55px;
    }

    .nav-section {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        border-right: 1px solid #ffffff;
    }

    .mobile-logo-img {
        width: 110px;
        height: auto;
    }

    .search-container {
        flex-grow: 1;
        color: #ffffff;
        font-size: 0.8rem;
    }

    .controls-container {
        gap: 1rem;
        border-right: none;
    }

    .bag-link {
        font-size: 0.8rem;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 22px;
        height: 16px;
        cursor: pointer;
    }

    .hamburger-menu .line {
        width: 100%;
        height: 2px;
        background-color: #fff;
    }

    .sub-nav-mobile {
        display: flex;
        align-items: stretch;
        background-color: #fff;
        color: #000;
        font-size: 0.7rem;
        height: 35px;
        border-bottom: 1px solid var(--color-border);
    }

    .marquee-container {
        flex-grow: 1;
        overflow: hidden;
        display: flex;
    }

    .marquee-content {
        display: flex;
        align-items: center;
        white-space: nowrap;
        animation: marquee-mobile 15s linear infinite;
    }

    .marquee-content span {
        padding: 0 1rem;
    }

    @keyframes marquee-mobile {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-50%);
        }
    }

    .dark-mode-toggle {
        display: flex;
        align-items: center;
        gap: 0.1rem;
        padding: 0px 10px;
        border-left: 1px solid #000000;
        flex-shrink: 0;
    }

    .toggle-switch {
        width: 34px;
        height: 18px;
        background-color: #000;
        border-radius: 9px;
        padding: 2px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .toggle-circle {
        width: 14px;
        height: 14px;
        background-color: #fff;
        border-radius: 50%;
        transition: transform 0.3s ease;
    }
}



/* ------------   same for image scroll 1  ---------------  */
@media (max-width: 768px) {
    .content-section-1 {
        height: 100vh;
    }

    .section-sidebar-1 {
        display: none;
    }

    .section-main-content-1 {
        width: 100%;
        height: 100vh;
    }

    .section-header-1 {
        height: 60px;
        padding: 0 15px;
        border-bottom: 1px solid #000;
    }

    .section-header-1 a {
        font-size: 18px;
    }


    .product-scroll-container {
        flex-direction: row;

        overflow-x: auto;

        overflow-y: hidden;
        height: calc(100vh - 60px);

    }

    .product-card {
        width: 85vw;
        min-width: 100vw;
        height: 100%;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
    }

    .product-price-info {
        padding: 0 15px;
    }

    .product-card-name,
    .product-card-price {
        font-size: 16px;
    }
}


/* ======================================================= */
/* ==============  image scroll responsive1  ============= */
/* ======================================================= */


@media (min-width: 768px) {
    .desktop-view {
        display: flex;
        align-items: center;
    }

    .section-main-content {
        flex: 1;
        width: auto;
        border-bottom: 1px solid #000;
        background-color: black;
        z-index: 10;
    }

    .collection-grid {
        flex-direction: row;
    }

    .collection-item {
        width: 50%;
        height: 100vh;
        border-right: 1px solid #000;
        border-bottom: none;
        padding: 10px;
        background-color: #ececec;
    }

    .collection-item:last-child {
        border-right: none;
    }

    .collection-overlay {
        left: 3%;
        right: 3%;
        width: auto;
        bottom: 5%;
    }
}


/* ======================================================= */
/* ================  image scroll responsive2  ============= */
/* ======================================================= */



@media (max-width: 768px) {

    .showcase-container {
        flex-direction: column;
        height: auto;
        overflow: visible;
    }

    .showcase-sidebar {
        display: none;
    }

    .showcase-main {
        width: 100%;
        height: auto;
    }

    .page-header {
        height: 60px;
        padding: 0 15px;
        border-bottom: 1px solid #000;
    }

    .header-link {
        font-size: 16px;
    }

    .item-grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1px;
        background-color: #000000a1;
        overflow: visible;
        height: auto;
        width: 100%;
        border-top: 1px solid #000;
    }

    .item-card {
        min-width: 0;
        width: 100%;
        height: auto;
        border-right: none;
    }

    .item-card img {
        height: auto;
        aspect-ratio: 4 / 5;
        padding: 10px;
    }

    .item-info {
        height: auto;
        min-height: 80px;
        padding: 10px 15px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }

    .item-name,
    .item-price {
        font-size: 14px;
    }



    .shop-now-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        background-color: #f0f2f5;
        border-bottom: 1px solid black;
        padding: 20px 0;
    }

    .inner-design {
        background-color: #ffffff;
        padding: 15px 36vw;
        text-align: center;
    }


    .shop-now-bar a {
        font-family: "Roboto Mono", monospace;
        font-size: 14px;
        color: #000;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
}
















/* ======================================================= */
/* ================ collection responsive css  ============= */
/* ======================================================= */

@media (max-width: 767px) {
    .section-sidebar {
        display: none;
    }

    .main-content,
    .section-main-content {
        width: 100%;
        padding: 0;
    }

    .notification-text {
        font-size: 11px;
        height: 40px;
    }

    .collection-item {
        height: 85vh;
        border-bottom: 1px solid #000;
        padding: 10px;
    }

    .collection-item img {
        padding: 0;
    }

    .collection-overlay {
        width: 100%;
        box-sizing: border-box;
        bottom: 0;
        padding: 1.5rem;
    }

    .collection-title {
        font-size: 1rem;
    }
}

/* ======================================================= */
/* ================  video responsive css  ============= */
/* ======================================================= */

@media (max-width: 767px) {

    .desktop-view.section-sidebar-1 {
        display: none;
    }

    .video-section-content {
        width: 100%;
        padding: 0;
    }
}


/* ======================================================= */
/* ================  footer responsive css  ============= */
/* ======================================================= */


:root {
    --font-mono: "Apercu Mono Pro", monospace;
    --font-main: 'Satoshi', sans-serif;
}

body {
    color: #ffffff;
    line-height: 1.6;
    background-color: #000;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: inherit;
    font-family: inherit;
}


@media (max-width: 768px) {

    .dpm-desktop-wrapper {
        display: none;
    }

    .dpm-mobile-wrapper {
        display: block;
    }

    .dpm-mobile-container {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        background-image: linear-gradient(rgba(26, 26, 26, 0.85), rgba(26, 26, 26, 0.95)), url('./assets/footer-img.png');
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .dpm-mobile-logo-wrapper {
        text-align: center;
        margin-bottom: 1.5rem;
        padding-top: 5rem;
    }

    .dpm-mobile-perks-wrapper {
        text-align: center;
        font-size: 0.75rem;
        margin-bottom: 2rem;
    }

    .dpm-mobile-perk {
        padding: 0.5rem 0;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    .dpm-mobile-perk-highlight {
        color: #22c55e;
        margin-bottom: 0.5rem;
    }

    .dpm-mobile-shipping-bar {
        border-top: 1px solid #888;
        border-bottom: 1px solid #888;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .dpm-mobile-shipping-content {
        background-color: rgba(85, 85, 85, 0.7);
        padding: 20px 16vw;
    }

    .dpm-mobile-shipping-content p {
        color: #E0E0E0;
        font-family: var(--font-mono);
        font-size: 13px;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 0;
        white-space: nowrap;
    }

    .dpm-mobile-accordion {
        font-size: 0.875rem;
        flex-grow: 1;
    }

    .dpm-accordion-item {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .dpm-accordion-item:first-of-type {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    .dpm-accordion-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
        padding: 1rem;
    }

    .dpm-accordion-title {
        font-weight: 700;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    .dpm-accordion-description {
        margin-top: 0.5rem;
        color: rgba(255, 255, 255, 0.7);
        font-size: 0.75rem;
        padding-right: 1rem;
        text-transform: uppercase;
        line-height: 1.5;
    }

    .dpm-accordion-icon {
        font-size: 1.5rem;
        font-weight: 300;
        padding-left: 1rem;
    }

    .dpm-accordion-content {
        margin-top: 0.75rem;
        color: rgba(255, 255, 255, 0.7);
        font-size: 0.75rem;
        padding: 0 1rem 1rem 1rem;
    }

    .dpm-accordion-content a {
        display: block;
        margin-top: 0.5rem;
        transition: color 0.3s;
        padding-bottom: 10px;
    }

    .dpm-accordion-content a:hover {
        color: #22c55e;
    }

    .dpm-mobile-socials {
        display: flex;
        justify-content: space-between;
        font-size: 0.75rem;
        letter-spacing: 0.1em;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        text-transform: uppercase;
        flex-wrap: wrap;
    }

    .dpm-mobile-socials a {
        transition: color 0.2s;
        padding: 0.5rem;
    }

    .dpm-mobile-socials a:hover {
        color: #22c55e;
    }

    .dpm-mobile-legal-bar {
        display: flex;
        font-size: 0.75rem;
        letter-spacing: 0.05em;
        color: rgba(255, 255, 255, 0.6);
        text-transform: uppercase;
        align-items: stretch;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    .dpm-mobile-legal-left {
        width: 66.66%;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        padding: 0.5rem 1rem;
    }

    .dpm-mobile-legal-left p,
    .dpm-mobile-legal-right p {
        margin: 0;
        padding: 5px 0;
    }

    .dpm-mobile-legal-right {
        width: 33.33%;
        padding: 0.5rem 1rem;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .dpm-is-hidden {
        display: none;
    }
}