* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-------font import----------- */
@font-face {
    font-family: 'Apercu Mono Pro';
    src: url('../fonts/ApercuMonoProLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Mono Pro';
    src: url('../fonts/ApercuMonoProRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Mono Pro';
    src: url('../fonts/ApercuMonoProMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Mono Pro';
    src: url('../fonts/ApercuMonoProBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

.view-desktop {
    display: flex !important;
}

.view-mobile {
    display: none !important;
}

html,
body {
    height: 100%;
    background: #ECECEC;
}

/* ---------------- Hero ---------------- */
.page-wrapper {
    width: 100%;
    height: 195vh;
    display: flex;
    position: relative;
    background-attachment: fixed;
}

/* ---------------- Marquee ---------------- */
.scrolling-banner-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 1.6vw;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    border-bottom: 1px solid black;
}

.scrolling-banner {
    position: relative;
    overflow: hidden;
    flex: 1;
    height: 100%;
}

.scrolling-banner div {
    position: absolute;
    display: flex;
    gap: 2.5rem;
    align-items: center;
    height: 100%;
    white-space: nowrap;
    animation: marquee 15s linear infinite;
    font: normal 12px/14px "Apercu Mono Pro", sans-serif;
    color: #000;
    text-transform: uppercase;
}

.scrolling-banner span {
    font-size: clamp(0.6rem, 0.8vw, 1rem);
    color: black;
    text-transform: uppercase;
    padding: 0 0.5rem;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-56%);
    }
}

.header-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.2vw;
}

.action-button-primary,
.action-button-secondary,
.action-button-tertiary {
    font-family: "Apercu Mono Pro", sans-serif;
    font-size: clamp(0.3rem, 0.8vw, 1rem);
    height: 1.6vw;
    min-height: 0.9vw;
    padding: 0 0.8rem;
    border: none;
    background: #fff;
    color: black;
    cursor: pointer;
    border-left: 1px solid black;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
}

/* ---------------- Left Hero Nav ---------------- */
.sidebar-container {
    width: 10.5vw;
    height: 192vh;
    position: absolute;
    top: 3vh;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    z-index: 999;
    border-right: 0.1vw solid #000;
}

.sidebar-nav-dark {
    background-color: #000;
    border-radius: 0.68vw;
    padding: 1.02vw;
    position: fixed;
    top: 3vw;
    height: 16vw;
    z-index: 10;
    font: normal 15px/18px "Apercu Pro", sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.sidebar-logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.68vw;
}

.divider-light {
    border: none;
    height: 1px;
    background-color: #fff;
    margin: 0 -15px;
}

.sidebar-logo-wrapper img {
    width: 6.803vw;
    height: auto;
}

.sidebar-nav-links {
    margin-top: 1.361vw;
}

.sidebar-nav-links a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-bottom: 0.68vw;
    font-size: 1vw;
    text-transform: uppercase;
    transition: 0.3s;
}

/* ---------------- Search + Account Box ---------------- */
.sidebar-user-box {
    background-color: #fff;
    color: #000;
    border-radius: 0.68vw;
    padding: 1.02vw;
    font-family: "Apercu Pro", sans-serif;
    position: fixed;
    top: 20vw;
    z-index: 10;
    height: 9vw;
    width: 9.5vw;
}

.divider-dark {
    border: none;
    height: 1px;
    background-color: #0e0e0e;
    margin: 0 -15px;
}

.user-box-search {
    padding-bottom: 0.544vw;
    font-size: 2.2vh;
}

.user-box-links {
    margin-top: 1.02vw;
}

.user-box-links a {
    text-decoration: none;
    color: #000;
    display: block;
    margin-bottom: 0.68vw;
    text-transform: uppercase;
    font: normal 13px/16px "Apercu Mono Pro", sans-serif;
}

.collection-header {
    display: flex;
    align-items: center;
    height: 10vh;
    border-bottom: 0.1vw solid #000;
    gap: 70vw;
}

.collection-header a {
    text-decoration: none;
    color: black;
    font-family: "Apercu Pro", sans-serif;
    font-size: 1.02vw;
    margin-left: 1vw;
}


.main-content-area {
    width: 88.7%;
    height: 99%;
    position: relative;
    top: 4vh;
    left: 11.2vw;
    z-index: 0;
}


/* time css */


#time1 {
    top: 96vh;
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    z-index: 1;

}


.product-grid-row {
    display: flex;
    width: 100%;
    height: 60vh;

}



.product-card {
    background-color: #ececec;
    width: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    border-right: 0.1vw solid #000;
    border-bottom: 0.1vw solid #000;
    position: relative;
    box-sizing: border-box;
}

.product-card img {
    position: relative;
    width: 21vw;
    height: 48vh;
    object-fit: cover;
    display: block;
    bottom: 1vh;
}



.product-info {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Apercu Pro", sans-serif;
    border-top: 1px solid #000;
    font-size: 15px;
    width: 100%;

}


.product-card-name {
    font-family: "Apercu Mono Pro", sans-serif;
    font-size: 0.9vw;
    text-transform: uppercase;
    position: relative;
    top: -2vh;
    left: 4vh;

}

.product-card-price {
    font-family: "Apercu Mono Pro", sans-serif;
    font-size: 0.9vw;
    text-transform: uppercase;
    position: relative;
    top: 1.5vh;
    left: -12vw;

}






.footer-section {
    width: 100%;
    height: 110vh;
    display: flex;
    position: relative;
    background-image: url("./assets/footer-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 9;
}

.footer-section::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.footer-section>* {
    position: relative;
    z-index: 2;
}

.footer-sidebar {
    width: 11.3%;
    height: 110vh;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.361vw 0.68vw;
    background: transparent;
    border-right: 0.1vw solid #ffffff;
}

.footer-contact-box {
    background-color: #000000;
    color: #ffffff;
    border-radius: 0.68vw;
    padding: 1.02vw;
    font-family: "Apercu Pro", sans-serif;
    position: absolute;
    bottom: 1vw;
    width: 9.565vw;
    z-index: 10;
}

.footer-contact-header {
    padding-bottom: 0.544vw;
    font-size: 0.9vw;
}

.footer-contact-links {
    margin-top: 1.02vw;
}

.footer-contact-links p {
    margin-bottom: 0.544vw;
    text-transform: uppercase;
    cursor: pointer;
    font: normal normal normal 13px/16px "Apercu Mono Pro", sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.footer-contact-links a {
    text-decoration: none;
    transition: color 0.3s;
    margin-bottom: 0.544vw;
    text-transform: uppercase;
    cursor: pointer;
    font: normal normal normal 13px/16px "Apercu Mono Pro", sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}





/* footer at here */


.footer-main-content {
    width: 80%;
    height: 95vh;
    position: absolute;
    top: 5vh;
    right: 0;
    padding: 2vw;
    background: transparent;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    color: #fff;
    font-family: "Apercu Pro", sans-serif;
    z-index: 30;

}

.footer-top-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 100vw;
    position: relative;
    left: -12vw;
    top: -5vw;
}

.footer-newsletter-info {
    max-width: 50vw;
    height: 5vh;
    position: absolute;
    right: 46vw;
    top: 7vh;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.footer-newsletter-info .newsletter-headline {
    font-size: 1.7vw;
    font-weight: bold;
    font-family: "Apercu Pro", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;

}

.footer-newsletter-info .newsletter-subtext {
    margin: 0;
    font: normal normal normal 10px/12px "Apercu Mono Pro", sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.footer-newsletter-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2vw;
    background: transparent;
    position: absolute;
    top: 15vh;
    right: 45vw;
}

.newsletter-signup-form {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 32vw;
}

.newsletter-signup-form .form-input-row {
    display: flex;
    gap: 1vw;
}

.newsletter-signup-form input[type="text"],
.newsletter-signup-form input[type="email"],
.newsletter-signup-form input[type="tel"],
.newsletter-signup-form input[type="submit"] {
    flex: 1;
    padding: 0.6vw 1vw;
    font-size: 0.9vw;
    border: 0.1vw solid #ccc;
    background: transparent;
    transition: border 0.3s, background-color 0.3s;
}

.newsletter-signup-form input:focus {
    border-color: #333;
    outline: none;
}

.newsletter-signup-form input[type="submit"] {
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
}

.newsletter-signup-form input[type="submit"]:hover {
    background-color: #444;
}

.footer-middle-banners {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11.9vh;
    width: 90vw;
    text-align: center;
    position: relative;
    border-bottom: 0.1vw solid white;
    border-top: 0.1vw solid white;
    left: -10.7vw;

}

.footer-banner-shipping {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45vw;
    padding: 2.2vw;
    border-right: 0.1vw solid white;
}

.footer-banner-cod {
    width: 55vw;
    padding: 1vw;
}

.footer-banner-shipping p {
    font-family: "Apercu Mono Pro", sans-serif;
    font-size: 0.8vw;
}

.footer-banner-cod p {
    font-family: "Apercu Mono Pro", sans-serif;
    font-size: 0.8vw;
}

.footer-bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90vw;
    height: 28vw;
    position: relative;
    left: -9vw;

}

.footer-logo-area {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 45vw;
    height: 50vh;
    position: relative;
    left: -0vw;
    top: 0vw;
}

.footer-links-area {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 45vw;
    height: 50vh;
    position: relative;
    left: 0vw;
    top: 0vw;
}

.footer-links-header-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1vw;
    font-family: "Apercu Pro", sans-serif;
    position: absolute;
    top: 1.3vw;
    left: 2vw;
}

.footer-links-header-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1vw;
    font-family: "Apercu Pro", sans-serif;
    position: absolute;
    top: 1.3vw;
    left: 25vw;
}

.footer-links-column-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.3vw;
    left: 2.2vw;
    top: 6vw;
    color: white;
    opacity: 0.7;
    font-size: 0.9vw;
    font-family: "Apercu Mono Pro", sans-serif;
}

.footer-links-column-1 a {
    text-decoration: none;
    color: inherit;
}

.footer-links-column-2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    left: 25vw;
    top: 6vw;
    font-size: 0.9vw;
    color: white;
    opacity: 0.7;
    font-family: "Apercu Mono Pro", sans-serif;
}

.footer-links-column-2 a {
    text-decoration: none;
    color: inherit;
}

.footer-legal-bar-desktop {
    display: flex;
    position: absolute;
    height: 10vh;
    width: 87.8vw;
    right: 0vw;
    bottom: 0vw;
    border-top: 0.1vw solid white;
}

.footer-legal-bar-desktop>div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 0.8vw;
    height: 5vw;
    font-family: "Apercu Mono Pro", sans-serif;
}

.footer-legal-col-1 {
    border-right: 0.1vw solid white;
}

#bott3 {
    border-right: 0.1vw solid white;
}



/* time css at here */


#time1 {
    top: 96vh;
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    z-index: 1;

}