* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/*-------font import----------- */

@font-face {
    font-family: 'Apercu Mono Pro';
    src: url('../fonts/ApercuMonoProLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Mono Pro';
    src: url('../fonts/ApercuMonoProRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Mono Pro';
    src: url('../fonts/ApercuMonoProMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Mono Pro';
    src: url('../fonts/ApercuMonoProBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* for mobile responsive */

.desktop-view {
    display: flex !important;
}

.mobile-view {
    display: none !important;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #ECECEC;

}



.main-banner {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    background-image: url("./assets/Group\ 17@2x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

/* markee container */

.scrolling-banner-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 1.6vw;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    border-bottom: 1px solid black;
}


.scrolling-banner {
    position: relative;
    overflow: hidden;
    flex: 1;
    height: 100%;
}


.scrolling-banner div {
    position: absolute;
    display: flex;
    gap: 2.5rem;
    align-items: center;
    height: 100%;
    white-space: nowrap;
    animation: marquee 15s linear infinite;
    font: normal normal normal 12px/14px "Apercu Mono Pro", sans-serif;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}


.scrolling-banner span {
    font-size: clamp(0.6rem, 0.8vw, 1rem);
    color: black;
    text-transform: uppercase;
    padding: 0 0.5rem;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-56%);
    }
}

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.2vw;
}


.header-btn-1,
.header-btn-2,
.header-btn-3 {
    font-family: "Apercu Mono Pro", sans-serif;
    font-size: clamp(0.3rem, 0.8vw, 1rem);
    height: 1.6vw;
    min-height: 0.9vw;
    padding: 0 0.8rem;
    border: none;
    background: #fff;
    color: black;
    cursor: pointer;
    border-left: 1px solid black;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
}





.side-navigation-wrapper {
    width: 11vw;
    height: 97vh;
    position: absolute;
    top: 3.4vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    z-index: 999;
    border-right: 0.1vw solid #000;
}

.main-banner-content {
    width: 84vw;
    height: auto;
    position: fixed;
    top: unset;
    right: 0px;
    bottom: 12%;


}



/* ------------------------------------- left nav bar -----------------------------------------------*/

.nav-box-dark {
    background-color: #000000;
    border-radius: 0.68vw;
    padding: 1.02vw;
    position: fixed;
    top: 3vw;
    height: 16vw;
    z-index: 10;
    font: normal normal normal 15px/18px "Apercu Pro", sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.nav-box-logo-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.68vw;
}

.divider-line-light {
    border: none;
    height: 1px;
    background-color: #ffffff;
    margin-left: -15px;
    margin-right: -15px;
}

.divider-line-dark {
    border: none;
    height: 1px;
    background-color: #0e0e0e;
    margin-left: -15px;
    margin-right: -15px;
}





.nav-box-logo-area a {
    text-decoration: none;
    display: inline-block;
}

.nav-box-logo-area img {
    width: 6.803vw;
    height: auto;
    display: block;
}

.nav-box-links {
    margin-top: 1.361vw;
}

.nav-box-links a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-bottom: 0.68vw;
    font-size: 1vw;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}





.nav-box-light {
    background-color: #ffffff;
    color: #000000;
    border-radius: 0.68vw;
    padding: 1.02vw;
    font-family: "Apercu Pro", sans-serif;
    position: fixed;
    top: 20vw;
    z-index: 10;
    height: 9vw;
    width: 9.5vw;
}

.nav-box-header-1 {
    padding-bottom: 0.544vw;
    font-size: 2.2vh;
}

.nav-box-user-links {
    margin-top: 1.02vw;
}

.nav-box-user-links a {
    text-decoration: none;
    color: #000000;
    display: block;
    margin-bottom: 0.68vw;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    font: normal normal normal 13px/16px "Apercu Mono Pro", sans-serif;
    letter-spacing: 0px;
    opacity: 1;
}






.banner-headline {
    font-family: "Apercu Pro", sans-serif;
    font-size: 1.496vw;
    text-transform: uppercase;
    max-width: 41.816vw;
    position: absolute;
    top: -2%;
    left: 15%;
    color: #ffffff;

}

.banner-subheadline {
    max-width: 40.816vw;
    position: absolute;
    top: 32%;
    left: 15%;
    font: normal normal normal 11px / 16px "Apercu Mono Pro", sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 0.69;
}

.banner-cta-link a {
    font-family: "Apercu Pro", sans-serif;
    font-size: 1.4vw;
    text-transform: uppercase;
    max-width: 40.816vw;
    position: absolute;
    top: 87%;
    left: 15%;
    color: #ffffff;

}






.content-section-1 {
    display: flex;
    width: 100%;
    height: 100vh;

}

.section-sidebar-1 {
    width: 11vw;
    height: 100%;
    background-color: #ececec;
    color: #ffffff;
    padding: 1.361vw;
    /* 20px */
    box-sizing: border-box;
    border-right: 0.1vw solid #000;
}


.section-main-content-1 {
    width: 88.6%;
    height: 100%;
    background-color: #ececec;
    box-sizing: border-box;
    z-index: 1;
}

.section-header-1 {
    display: flex;
    align-items: center;
    height: 10vh;
    border-bottom: 0.1vw solid #000;
    gap: 70vw;
}

.section-header-1 a {
    text-decoration: none;
    color: black;
    font-family: "Apercu Pro", sans-serif;
    font-size: 1.02vw;
    font-family: "Apercu Pro", sans-serif;
    font-size: 1.02vw;
    margin-left: 1vw;
}

.product-scroll-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    height: 90vh;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.product-card-1,
.product-card-2,
.product-card-3 {
    background-color: #ececec;
    min-width: 30vw;
    display: inline-flex;
    height: 100%;
    border-right: 0.1vw solid #000;
    border-bottom: 0.1vw solid #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    box-sizing: border-box;
}

.product-price-info-1,
.product-price-info-2,
.product-price-info-3 {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #000;
    font-family: "Apercu Pro", sans-serif;
}

.shipping-banner {

    top: 1.5vw;
    height: 3.5vw;
    width: 95%;
    left: 2.5vw;
    right: 5vw;
    background-color: #ffffff;
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
}

.shipping-banner span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1.3vw;
    font-family: " Apercu Mono Pro", sans-serif;
    color: #00be39;
}

.product-card-1 img {
    /* position: relative; */
    /* bottom: 1vh; */
    height: 89%;
    object-fit: cover;
    padding: 7px 7px 6px 7px;
}

.product-card-2 img {
    height: 89%;
    object-fit: cover;
    padding: 7px 7px 6px 7px;
}

.product-card-3 img {
    height: 89%;
    object-fit: cover;
    padding: 7px 7px 6px 7px;

}




.product-card-name-1 {
    font-family: "Apercu Mono Pro", sans-serif;
    font-size: 1.02vw;
    /* 15px */
    text-transform: uppercase;
    position: relative;
    top: -2vh;
    left: -2vh;
}

.product-card-name-2 {
    font-family: "Apercu Mono Pro", sans-serif;
    font-size: 1.02vw;
    /* 15px */
    text-transform: uppercase;
    position: relative;
    top: -2vh;
    left: -3vh;
}

.product-card-name-3 {
    font-family: "Apercu Mono Pro", sans-serif;
    font-size: 1.02vw;
    /* 15px */
    text-transform: uppercase;
    position: relative;
    top: -2vh;
    left: -3vh;
}

.product-card-price-1 {
    font-family: "Apercu Mono Pro", sans-serif;
    font-size: 1.02vw;
    /* 15px */
    text-transform: uppercase;
    position: relative;
    top: 1.5vh;
    left: -17vw;
}

.product-card-price-2 {
    font-family: "Apercu Mono Pro", sans-serif;
    font-size: 1.02vw;
    /* 15px */
    text-transform: uppercase;
    position: relative;
    top: 1.5vh;
    left: -17vw;
}

.product-card-price-3 {
    font-family: "Apercu Mono Pro", sans-serif;
    font-size: 1.02vw;
    /* 15px */
    text-transform: uppercase;
    position: relative;
    top: 1.5vh;
    left: -17vw;
}



/* ------------------------------------custom css --------------------------  */
.main-banner-content {
    width: 84vw;
    position: fixed;
    right: 0;
    bottom: 12%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translate(25%, -15%);
    /* adjust X (25%) and Y (-15%) until it matches your screenshot */
}

.banner-headline {
    font-family: "Apercu Pro", sans-serif;
    font-size: 1.496vw;
    text-transform: uppercase;
    max-width: 41.816vw;
    color: #ffffff;
    opacity: 0.69;
}

.banner-subheadline {
    font-family: "Apercu Mono Pro", sans-serif;
    font-size: 0.9vw;
    line-height: 1.5vw;
    max-width: 41.816vw;
    color: #ffffff;
    margin-top: 1rem;
    /* keep spacing consistent */
    opacity: 0.85;
}

.banner-cta-link a {
    display: inline-block;
    text-decoration: none;
    background: #fff;
    color: #000;
    padding: 0.6rem 1.2rem;
    font-weight: bold;
    margin-top: 1.5rem;
    transition: background 0.3s ease;
}

.banner-cta-link a:hover {
    background: #ddd;
}


/* new div end at */


.content-section-2 {
    display: flex;
    width: 100%;
    height: 100vh;
}

.section-sidebar-2 {
    width: 11vw;
    height: 100%;
    background-color: #ececec;
    color: #ffffff;
    padding: 1.361vw;
    box-sizing: border-box;
    border-right: 0.1vw solid #000;
}

.section-main-content-2 {
    width: 88vw;
    height: 100%;
    background-color: #ececec;
    box-sizing: border-box;
    z-index: 1;
}

.collection-grid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
}

.collection-item-1,
.collection-item-2 {
    background-color: #ececec;
    width: 50%;
    height: 100%;
    border-right: 0.1vw solid #000;
    border-bottom: 0.1vw solid #000;
    border-top: 0.1vw solid #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.collection-image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.collection-item-1 img,
.collection-item-2 img {
    position: relative;
    left: 0.5vw;
    width: 42.9vw;
    bottom: -0.8vh;
    height: 98vh;
    object-fit: cover;
    display: block;
    filter: brightness(70%);
}

.collection-overlay-title {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: #ffffff;
    font-size: 0.955vw;
    font-family: "Apercu Pro", sans-serif;

    padding: 0.5em 1em;
    border-radius: 4px;
    text-transform: uppercase;
}

.collection-overlay-count-1 {
    position: absolute;
    bottom: 6.5%;
    left: 44%;
    color: #ffffff;
    font-size: 0.9vw;
    font-family: "Apercu Mono Pro", sans-serif;

    padding: 0.5em 1em;
    border-radius: 4px;
    text-transform: uppercase;
}

.collection-overlay-count-2 {
    position: absolute;
    bottom: 6.5%;
    left: 44%;
    color: #ffffff;
    font-size: 0.9vw;
    font-family: "Apercu Mono Pro", sans-serif;
    padding: 0.5em 1em;
    border-radius: 4px;
    text-transform: uppercase;
}

.collection-overlay-cta-1 {
    position: absolute;
    bottom: 6.5%;
    right: 3vw;
    color: #ffffff;
    font-size: 1.1vw;
    font-family: "Apercu Mono Pro", sans-serif;
    padding: 0.5em 1em;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: underline;
}

.collection-overlay-cta-2 {
    position: absolute;
    bottom: 6.5%;
    right: 3vw;
    color: #ffffff;
    font-size: 1.1vw;
    font-family: "Apercu Mono Pro", sans-serif;
    padding: 0.5em 1em;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: underline;
}

.container4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    height: 75vh;
    width: 87vw;
    overflow-x: auto;

}




/* nav 3  */



.content-section-3 {
    display: flex;
    width: 100%;
    height: 87vh;
}

.section-sidebar-3 {
    width: 11.2vw;
    height: 100%;
    background-color: #ececec;
    color: #ffffff;
    padding: 1.361vw;
    box-sizing: border-box;
    border-right: 0.1vw solid #000;
}

.section-header-2 {
    display: flex;
    align-items: center;
    height: 10vh;
    border-bottom: 0.1vw solid #000;
    gap: 70vw;


}

.section-header-2 a {
    text-decoration: none;
    color: black;
    font-family: "Apercu Pro", sans-serif;
    font-size: 1.02vw;
    font-family: "Apercu Pro", sans-serif;
    font-size: 1.02vw;
    margin-left: 1vw;
}

.product-scroll-container-desktop {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    height: 75vh;
    width: 100.7%;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.section-main-content-3 {
    width: 88%;
    height: 100%;
    background-color: #ececec;
    box-sizing: border-box;
    z-index: 1;
}

.product-card-alt-1,
.product-card-alt-2,
.product-card-alt-3 {
    background-color: #ececec;
    min-width: 30vw;
    display: inline-flex;
    height: 100%;
    border-right: 0.1vw solid #000;
    border-bottom: 0.1vw solid #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    box-sizing: border-box;
}

.product-card-alt-1 img {
    position: relative;
    left: 0.5vw;
    width: 29vw;
    bottom: 1vh;
    /* 100px */
    object-fit: cover;
    height: 63vh;
}

.product-card-alt-2 img {
    position: relative;
    left: 0.5vw;
    width: 29vw;
    bottom: 1vh;
    /* 100px */
    object-fit: cover;
    height: 63vh;
}

.product-card-alt-3 img {
    position: relative;
    left: 0.5vw;
    width: 29vw;
    bottom: 1vh;
    /* 100px */
    object-fit: cover;
    height: 63vh;
}

.product-price-info-alt-1,
.product-price-info-alt-2,
.product-price-info-alt-3 {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #000;
    font-family: "Apercu Pro", sans-serif;
}

.product-card-name-alt-1 {
    font-family: "Apercu Mono Pro", sans-serif;
    font-size: 1.02vw;
    /* 15px */
    text-transform: uppercase;
    position: relative;
    top: -2vh;
    left: -2vh;
}

.product-card-name-alt-2 {
    font-family: "Apercu Mono Pro", sans-serif;
    font-size: 1.02vw;
    /* 15px */
    text-transform: uppercase;
    position: relative;
    top: -2vh;
    left: -3vh;
}

.product-card-name-alt-3 {
    font-family: "Apercu Mono Pro", sans-serif;
    font-size: 1.02vw;
    /* 15px */
    text-transform: uppercase;
    position: relative;
    top: -2vh;
    left: -3vh;
}

.product-card-price-alt-1 {
    font-family: "Apercu Mono Pro", sans-serif;
    font-size: 1.02vw;
    /* 15px */
    text-transform: uppercase;
    position: relative;
    top: 1.5vh;
    left: -17vw;
}

.product-card-price-alt-2 {
    font-family: "Apercu Mono Pro", sans-serif;
    font-size: 1.02vw;
    /* 15px */
    text-transform: uppercase;
    position: relative;
    top: 1.5vh;
    left: -17vw;
}

.product-card-price-alt-3 {
    font-family: "Apercu Mono Pro", sans-serif;
    font-size: 1.02vw;
    /* 15px */
    text-transform: uppercase;
    position: relative;
    top: 1.5vh;
    left: -17vw;
}





/* ======================== nav 3 =================================================================================*/

/* =============================== end at here ======================================================================*/

.content-section-4 {
    display: flex;
    width: 100%;
    height: 100vh;
}

.video-section-content {
    width: 88%;
    height: 100%;
    background-color: #ececec;
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden;
}

.video-section-content video {
    width: 99%;
    height: 49vw;
    object-fit: cover;
    position: relative;
    left: 1vw;
    bottom: 11vh;
}




/* footer at here */



.footer-section {
    width: 100%;
    height: 110vh;
    display: flex;
    position: relative;
    background-image: url("./assets/footer-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 9;
}

.footer-section::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.footer-section>* {
    position: relative;
    z-index: 2;
}

.footer-sidebar {
    width: 11.3%;
    height: 110vh;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.361vw 0.68vw;
    background: transparent;
    border-right: 0.1vw solid #ffffff;
}

.footer-contact-box {
    background-color: #000000;
    color: #ffffff;
    border-radius: 0.68vw;
    padding: 1.02vw;
    font-family: "Apercu Pro", sans-serif;
    position: absolute;
    bottom: 1vw;
    width: 9.565vw;
    z-index: 10;
}

.footer-contact-header {
    padding-bottom: 0.544vw;
    font-size: 0.9vw;
}

.footer-contact-links {
    margin-top: 1.02vw;
}

.footer-contact-links p {
    margin-bottom: 0.544vw;
    text-transform: uppercase;
    cursor: pointer;
    font: normal normal normal 13px/16px "Apercu Mono Pro", sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.footer-contact-links a {
    text-decoration: none;
    transition: color 0.3s;
    margin-bottom: 0.544vw;
    text-transform: uppercase;
    cursor: pointer;
    font: normal normal normal 13px/16px "Apercu Mono Pro", sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}





/* footer at here */


.footer-main-content {
    width: 80%;
    height: 95vh;
    position: absolute;
    top: 5vh;
    right: 0;
    padding: 2vw;
    background: transparent;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    color: #fff;
    font-family: "Apercu Pro", sans-serif;
    z-index: 30;

}

.footer-top-area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 100vw;
    position: relative;
    left: -12vw;
    top: -5vw;
}

.footer-newsletter-info {
    max-width: 50vw;
    height: 5vh;
    position: absolute;
    right: 46vw;
    top: 7vh;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.footer-newsletter-info .footer-newsletter-headline {
    font-size: 1.7vw;
    font-weight: bold;
    font-family: "Apercu Pro", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;

}

.footer-newsletter-info .footer-newsletter-subtext {
    margin: 0;
    font: normal normal normal 10px/12px "Apercu Mono Pro", sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.footer-newsletter-form-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2vw;
    background: transparent;
    position: absolute;
    top: 15vh;
    right: 45vw;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 32vw;
}

.newsletter-form .form-row {
    display: flex;
    gap: 1vw;
}

.newsletter-form input[type="text"],
.newsletter-form input[type="email"],
.newsletter-form input[type="tel"],
.newsletter-form input[type="submit"] {
    flex: 1;
    padding: 0.6vw 1vw;
    font-size: 0.9vw;
    border: 0.1vw solid #ccc;
    background: transparent;
    transition: border 0.3s, background-color 0.3s;
}

.newsletter-form input:focus {
    border-color: #333;
    outline: none;
}

.newsletter-form input[type="submit"] {
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
}

.newsletter-form input[type="submit"]:hover {
    background-color: #444;
}

.footer-middle-area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11.9vh;
    width: 90vw;
    text-align: center;
    position: relative;
    border-bottom: 0.1vw solid white;
    border-top: 0.1vw solid white;
    left: -10.7vw;

}

.footer-middle-column-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45vw;
    padding: 2.2vw;
    border-right: 0.1vw solid white;
}

.footer-middle-column-2 {
    width: 55vw;
    padding: 1vw;
}

.footer-middle-column-1 p {
    font-family: "Apercu Mono Pro", sans-serif;
    font-size: 0.8vw;
}

.footer-middle-column-2 p {
    font-family: "Apercu Mono Pro", sans-serif;
    font-size: 0.8vw;
}

.footer-bottom-area {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90vw;
    height: 28vw;
    position: relative;
    left: -9vw;

}

.footer-bottom-logo-area {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 45vw;
    height: 50vh;
    position: relative;
    left: -0vw;
    top: 0vw;
}

.footer-bottom-links-area {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 45vw;
    height: 50vh;
    position: relative;
    left: 0vw;
    top: 0vw;
}

.footer-links-header-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1vw;
    font-family: "Apercu Pro", sans-serif;
    position: absolute;
    top: 1.3vw;
    left: 2vw;
}

.footer-links-header-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1vw;
    font-family: "Apercu Pro", sans-serif;
    position: absolute;
    top: 1.3vw;
    left: 25vw;
}

.footer-links-column-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.3vw;
    left: 2.2vw;
    top: 6vw;
    color: white;
    opacity: 0.7;
    font-size: 0.9vw;
    font-family: "Apercu Mono Pro", sans-serif;
}

.footer-links-column-1 a {
    text-decoration: none;
    color: inherit;
}

.footer-links-column-2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    left: 25vw;
    top: 6vw;
    font-size: 0.9vw;
    color: white;
    opacity: 0.7;
    font-family: "Apercu Mono Pro", sans-serif;
}

.footer-links-column-2 a {
    text-decoration: none;
    color: inherit;
}

.footer-legal-bar-desktop {
    display: flex;
    position: absolute;
    height: 10vh;
    width: 87.8vw;
    right: 0vw;
    bottom: 0vw;
    border-top: 0.1vw solid white;
}

.footer-legal-bar-desktop>div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 0.8vw;
    height: 5vw;
    font-family: "Apercu Mono Pro", sans-serif;
}

.footer-legal-col-1 {
    border-right: 0.1vw solid white;
}

#bott3 {
    border-right: 0.1vw solid white;
}



/* time css at here */


#time1 {
    top: 96vh;
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    z-index: 1;

}